<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.HTML" version="24.1.0" targetFramework="net48" />
  <package id="Aspose.PDF" version="24.2.0" targetFramework="net48" />
  <package id="IronPdf" version="2023.1.11416" targetFramework="net48" />
  <package id="IronPdf.Native.Chrome.Windows" version="2023.1.11387" targetFramework="net48" />
  <package id="IronPdf.Slim" version="2023.1.11416" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NReco.PdfGenerator" version="1.1.15" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.3" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net48" />
</packages>